@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* gotta check, let's see if I can change the colors */
    /* Colores primarios */
    --primary-color-orange: rgb(242, 95, 58);
    --primary-color-blue: rgb(35, 44, 81);
    --primary-color-white: rgb(255, 255, 255); 

    /* Colores secundarios */
    --secondary-color-white: rgb(255, 239, 234);
    --secondary-color-blue: rgb(29, 30, 37);
    --secondary-color-greyblue: rgb(143, 148, 167);
    --secondary-color-lightgrey: rgb(241, 225, 225);
    --secondary-color-orange: rgb(250, 143, 116);
    --secondary-color-error-red: rgb(156, 73, 82);

    /*Variantes transparentes*/
    --primary-color-orange-transparent: rgb(242, 95, 58, 0.6);
    --secondary-color-lightgrey-transparent: rgba(249, 249, 249,0.9);
}

/* Estilos generales - body, botones, enlaces */
body{
    /* Disposición */
    display: flex;
    align-items:center;
    flex-direction: column;
    /* Dimensiones */
    width: 100vw;
    /* Fondo */
    background-color: var(--primary-color-white);
    background-image: url(../img/bg-tablet-pattern.svg);
    background-position: left;
    background-repeat:space;
    background-size:70rem;
    /* Texto */
    color: var(--primary-color-blue);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    /* Visibilidad */
    overflow-x: hidden;
}

button{
    /* Dimensiones */
    height: 5vh;
    min-height: 40px;
    max-height: 50px;
    width: 15vh;
    min-width: 150px;
    max-width: 155px;
    /* Background y borde */
    background-color: var(--primary-color-orange);
    border: none;
    border-radius: 30px;
    box-shadow: 0 7px 15px var(--primary-color-orange-transparent);
    /* Texto */
    color: var(--primary-color-white);
    font-size: 0.83rem;
    font-weight: 700;
}

button:hover{
    /* Background */
    background-color: var(--secondary-color-orange);
    /* Texto */
    color: var(--secondary-color-white);  
}

a{
    /* Texto */
    color: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    /* Texto */
    color: var(--secondary-color-greyblue);
}

/* Estilos del header */
header{
    /* Disposición */
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* Dimensiones */
    height: 14vh;
    min-height: 103px;
    width: 100vw;
    padding: 50px 0;
    margin-bottom: 6rem;
    /* Background */
    background-color: var(--secondary-color-lightgrey-transparent);     
}

nav{
    /* Disposición */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Dimensiones */ 
    height: inherit;
    width: 93vw;
    min-width: 60vw;
    overflow-x: hidden;
}

#header-links{
    /* Disposición */
    display: flex;
    /* Estilos de lista */
    list-style-type: none;  
}

#header-links li:not(:last-child){
    /* Dimensiones */ 
    padding-right: 2.5vw;
}

/*Estilos de etiqueta Main */
main{
    /* Disposición */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Dimensiones */
    width: 79%;
}

/*Estilos de sección de descripción */
#description{
    /* Disposición */
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* Dimensiones */
    height: auto;
}

#description>div{
    /* Disposición */
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
    /* Dimensiones */
    width: 50%; 
}

#description h1{
    /* Dimensiones */
    width: 90%;
    /* Texto */
    font-size: 3.6rem;   
}

#description p{
    /* Dimensiones */
    width: 61%;
    min-width: 300px;
    margin: 4vh 0;
    /* Texto */
    color: var(--secondary-color-greyblue); 
    font-size: 1rem;
    line-height: 2rem;
}

#description img{
    /* Dimensiones */
    width: 46.8%;
}

/* Estilos de sección de características */
#traits{
    /* Disposición */
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    /* Dimensiones */
    margin-top:12vh;
}

#traits>div{
    /* Disposición */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#traits h3{
    /* Texto */
    font-size: 2.5rem;
    width: 120%;
}

#traits>div>p{
    /* Dimensiones */
    width: 83%;
    min-width: 250px;
    margin: 3vh 0;
    /* Texto */
    color: var(--secondary-color-greyblue);
    font-size: 1rem;
    line-height: 2rem;
}

/* Modificación de la numeración de lista - Empieza acá

Hice este cambio para que los números empiecen en 0 y que no terminen
con un punto */
#traits ol { 
    /* Dimensiones */
    margin-left: 10vw;
    /* Estilos de lista */
    list-style-type: none;
    /* Contador para los números de la lista */
    counter-reset:list-number;  
}

#traits li::before { 
    /* Disposición */
    float: left;
    /* Dimensiones */
    padding: 10px 22px;
    /* Background y borde */
    background-color: var(--primary-color-orange);
    border: none;
    border-radius: 30px;
    /* Texto */
    color: var(--primary-color-white);
    font-weight: 500;
    /* Contenido para numerar la lista e incremento del contador */
    content: counter(list-number, decimal-leading-zero); 
    counter-increment: list-number;
}
/* Modificación de la numeración de lista - Termina acá */

#traits ol p{
    /* Dimensiones */
    margin-left: 6rem;
    /* Texto */
    font-size: 1rem;
}

/* Modificación al título de cada característica*/
#traits li>p:first-child{
    /* Disposición */
    position: relative;
    top: 0.3rem;
    /* Texto */
    color: var(--primary-color-blue);
    font-weight: 700;   
}

/* Modificación a la descripción de cada característica */
#traits li>p:nth-child(2){
    /* Dimensiones */
    width: 78%;
    margin-top: 2vh;
    margin-bottom: 5vh;
    /* Texto */
    color: var(--secondary-color-greyblue);
    line-height: 2rem;
}

/* Estilos de sección de opiniones*/
#opinions{
    /* Disposición */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Dimensiones */
    margin-top:5.5rem;    
}

#opinions h3{
    /* Dimensiones */
    margin-bottom: 2rem;
    /* Texto */
    font-size: 2.2rem;
}

#slides{
    /* Disposición */
    display: flex;
    align-items: baseline;
    /* Dimensiones */
    width: 95vw;
    margin-bottom: 3rem;
    padding-top: 5vh;
    /* Visibilidad */
    overflow-x: scroll; 
    /* Configuración de scrollbar para mozilla */
    scrollbar-color: var(--secondary-color-lightgrey) rgba(0, 0, 0, 0); 
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.people{
    /* Disposición */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Dimensiones */
             /* min-width: 160px; */
    min-width: 460px;
    padding-bottom: 3rem;
}

.people:not(:last-child){
    /* Dimensiones */
    margin-right: 9vw;
}

.people img{
    /* Dimensiones */
    width: 4.4rem;
}

/* Estilo de los nombres de cada persona */
.people>p:nth-child(2){
    /* Texto */
    font-size: 1rem;
    font-weight: 700;
    line-height: 4rem;
 }

/* Estilo de las opiniones de cada persona */
.people>p:nth-child(3){
    /* Texto */
    color: var(--secondary-color-greyblue); 
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
 }

 /* Estilos de la scrollbar  */
#slides::-webkit-scrollbar{
    /* Dimensiones */
    height: 9px;   
}

#slides::-webkit-scrollbar-thumb {
    /* Disposición */
    display: none;
    /* Background y borde */
    background-color: var(--secondary-color-lightgrey);
    border-radius: 4px;    
}

/* Para que se la scrollbar se modifique al hoverear la sección slides */
#slides:hover::-webkit-scrollbar-thumb{
    /* Disposición */
    display: block;  
}

/* Estilo de sección de ad */
#join-ad{
    /* Disposición */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Dimensiones */
    height: 15.5vw;
    min-height: 100px;
    width: 100vw;
    margin-top: 12rem;
    padding: 0 11vw;
    /* Background y borde */
    background-color: var(--primary-color-orange);
    background-image: url(../img/bg-simplify-section-desktop.svg);
    background-size: cover;
}

#join-ad p{
    /* Dimensiones */
    width: 40%;
    /* Texto */
    color: var(--primary-color-white);
    font-size: 2.5vw;
    font-weight: 700;   
}

#join-ad button{
    /* Background y borde */
    background-color: var(--primary-color-white);
    box-shadow: none;
    /* Texto */
    color: var(--primary-color-orange);
}

#join-ad button:hover{
    /* Texto */
    color: var(--secondary-color-orange);
}

/* Estilos del footer */
footer{
    /* Disposición */
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    /* Dimensiones */
    height: 17.2vw;
    min-height: 300px;
    width: 100vw;
    padding-left: 9vw;
    padding-right: 9vw;
    /* Background y borde */
    background-color: var(--secondary-color-blue);  
}

/* Estilos de redes sociales, cambio de color al hover en cada SN*/
#sns{
    /* Disposición */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* Dimensiones */
    height: 12rem;
    padding-right: 3vw;
}

/* Disposición de los logos de redes y de logo de página */
.logo, .negative, #sns>img{
    /* Disposición */
    position: relative;
    top: -2rem;
}

#sns-links{
    /* Disposición */
    position: relative;
}

/* Usé rem como medida de posición para que cuando el width de la página se mueva
desde medida x hasta 769px, los logos no se superpongan, cosa que sí pasaba con 
vw o vh */
.fb-logo{
    /* Disposición */
    position: absolute;
    left: 0; 
}

.yt-logo{
    /* Disposición */
    position: absolute;
    left: 2rem; 
}

.tw-logo{
    /* Disposición */
    position: absolute;
    left: 4rem; 
}

.pin-logo{
    /* Disposición */
    position: absolute;
    left: 6rem; 
}

.ig-logo{
    /* Disposición */
    position: absolute;
    left: 8rem; 
}

.fb-logo img, .yt-logo img, .tw-logo img,
.pin-logo img, .ig-logo img{
    /* Disposición */
    position: absolute;
    margin: 0;
}

/* Opacidad a 0 par que el logo no se muestre mientras no se le haga hover, 
al hacerle hover, opacidad a 1 */
.negative{
    /* Disposición */
    position: absolute;
    /* Visibilidad */
    opacity: 0;
}

.fb-logo:hover .negative, .yt-logo:hover .negative, 
.tw-logo:hover .negative, .pin-logo:hover .negative, 
.ig-logo:hover .negative{
    /* Visibilidad */
    opacity: 1;
}

/* Opacidad a 0 para el logo original cuando se le hace hover, porque 
sino deja una sombra blanca rara detrás del logo negativo */
.fb-logo:hover .logo, .yt-logo:hover .logo, 
.tw-logo:hover .logo, .pin-logo:hover .logo, 
.ig-logo:hover .logo{
    /* Visibilidad */
    opacity: 0;
}

/* Estilos de los links anclas del footer */
#footer-links{
    /* Dimensiones */
    width: 40vw;
}

#footer-links ul{
    /* Disposición */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    /* Dimensiones */
    height: 12rem;
    max-height: 300px;
    margin-left: 3rem;
}

#footer-links li{
    /* Dimensiones */
    padding-right: 2rem; 
    padding-bottom: 1.5rem;
    /* Texto */
    color: var(--primary-color-white);
    /* Estilos de lista */
    list-style-type: none;    
}

footer a{
    /* Texto */
    font-size: 1rem;
}

footer a:hover{
    /* Texto */
    color: var(--primary-color-orange);
}

/* Estilos del newsletter */
#newsletter{
    /* Disposición */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    /* Dimensiones */
    height: 12rem;
    width: 22.7vw;
    min-width: 200px;    
}

form{
    /* Disposición */
    position: relative;
    top: -2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;    
}

#input-field{
    /* Disposición */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Dimensiones */
    padding-bottom: 1rem;
}

/* Mensaje de error para mail mal ingresado, 
display none para que no aparezca hasta que no sea necesario */
#input-field #error-message{
    /* Disposición */
    display: none;
    /* Dimensiones */
    padding-left: 0.8rem;
    /* Texto */
    color: var(--secondary-color-error-red);
    font-size: 0.7rem;
    font-style:italic;
    font-weight: 400;   
}

/* Párrafo del copyright */
#newsletter>p{
    /* Texto */
    color: var(--secondary-color-greyblue);
    font-size: 0.8rem;
    text-align: right;
}

#newsletter input{
    /* Dimensiones */
    height: 5vh;
    min-height: 40px;
    max-height: 50px;
    width: 16vw;
    min-width: 200px;
    max-width: 300px;
    padding-left: 1rem;
    margin-bottom: 0.7rem;
    /* Background y borde */
    background-color: var(--primary-color-white);
    border: none;
    border-radius: 30px;
    /* Texto */
    font-size: 1rem; /*Si no hay fontsize definida, en firefox aparece más chica la fuente*/
    font-weight: 500;
}

#newsletter input::placeholder{
    /* Texto */
    color: var(--secondary-color-greyblue);
    font-size: 1rem;
    font-weight: 500;
    /* Visibilidad */
    opacity: 1; /* Firefox no muestra opacidad 100% en los placeholders */
}

/* Selecciono la casilla de input, cuando no está en focus ni tampoco
se encuentra el placeholder(es decir que hay texto dentro),y que además 
el texto ingresado es inválido, para modificar tanto la casilla del input
como el mensaje de error */
#newsletter input:not(:focus):not(:placeholder-shown):invalid{
    /* Background y borde */
    border: solid 2px var(--secondary-color-error-red);
    /* Texto */
    color: var(--secondary-color-error-red);
}

#newsletter input:not(:focus):not(:placeholder-shown):invalid ~ #error-message{
    /* Disposición */
    display: inline-block;
}

#newsletter button{
    /* Dimensiones */
    width: 10vw;
    min-width: 60px;
    max-width: 80px;
    margin-left: 1rem;
    /* Background y borde */
    box-shadow: none;
}


/* no date on check means same day
-------24/6 
- gotta finish the slides --------------------check 26/6
-maybe try a slideshow? 
-also gotta finish main and start footer -----check 25/6
-change the tab icon? ------------------------check 25/6
-Investigate light-dark colormodes

-------25/6 
- makeit responsive
-slides --------------------------------------check 26/6
-still needing the tab icon ------------------check 26/6
-hover styles on buttons ---------------------check 26/6



-------26/6 
-padding del navbar --------------------------check
-modificar tamaño links navbar ---------------check
-alinear numeros de ol al texto --------------check
-alinear texto de las descripciones ----------check
-cambiar personmas de lugar ------------------check
-cambiar tamaño copyright --------------------check
-padding de la box de ad ---------------------check

*/

/* @media (max-width: 768px) {
   
} */


/* @media (prefers-color-scheme: dark) {

} */