@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* gotta check, let's see if I can change the colors */
    /* Primary colors */
    --primary-color-orange: rgb(242, 95, 58);
    --primary-color-blue: rgb(35, 44, 81);
    --primary-color-grey: rgb(255, 255, 255); 

    /* Secondary colors */
    --secondary-color-orange: rgb(255, 239, 234);
    --secondary-color-blue: rgb(29, 30, 37);
    --secondary-color-greyblue: rgb(143, 148, 167);
    --secondary-color-lightgrey: rgb(249, 249, 249);
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    background-color: var(--primary-color-grey);
    color: var(--primary-color-blue);
    overflow-x: hidden;
}

/* Header styles */
header{
    width: 100vw;
    padding: 50px 0;
    
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#header-links{
    display: flex;
    list-style-type: none;  
}

#header-links li{
    padding-left: 2vh;
}

/* Main styles */
button{
    background-color: var(--primary-color-orange);
    color: var(--primary-color-grey);
    border: none;
    height: 5vh;
    width: 15vh;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 0 7px 15px var(--primary-color-orange);
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
}

#description{
    display: flex;
    height: 60vh;
    justify-content:space-between;
    align-items: center;
}

#description div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items:baseline;
}

#description p{
   color: var(--secondary-color-greyblue); 
   width: 50%;
   margin: 4vh 0;
   font-size: 1.4rem;
   line-height: 2.2rem;
}

h1{
    font-size: 3vw;
    width: 70%;
}

#description img{
    min-width: 400px;
    height: 50vh;
}

#traits{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

#traits div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#traits h3{
    font-size: 2vw;
    width: 90%;
}

#traits>div>p{
    color: var(--secondary-color-greyblue); 
    width: 70%;
    margin: 4vh 0;
    font-size: 1.4rem;
    line-height: 2.5rem;
 }

/* Modification to li's styles - starts here
I made this so they start with a 0 and also don't finish with a dot */
#traits ol { 
    counter-reset:list-number;
    list-style-type: none;
    margin-left: 6vw;
}

#traits li::before { 
    content: counter(list-number, decimal-leading-zero); 
    counter-increment: list-number;
    float: left;
    background-color: var(--primary-color-orange);
    color: var(--primary-color-grey);
    border: none;
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 30px;
  }
/* Modification to li's styles - ends here */
#traits ol p{
   margin-left: 6vw;
}

/* This will change the traits titles' styles */
#traits li>p:first-child{
    color: var(--primary-color-blue);
    font-weight: 700;
    font-size: 1.4rem;
}

/* This will change the traits descriptions' styles */
#traits li>p:nth-child(2){
    color: var(--secondary-color-greyblue); 
    text-align: justify;
    width: 70%;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: 1.4rem;
    line-height: 2.5rem;
 }

/*Opinions, slides' styles*/
#opinions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

#opinions h3{
    font-size: 2vw;
}

#slides{
    display: flex;
    width: 90vw;
    padding-top: 5vh;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

/* This will change the names' styles */
.people>p:nth-child(2){
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.5rem;
 }

/* This will change the descriptions' style */
.people>p:nth-child(3){
    color: var(--secondary-color-greyblue); 
    font-size: 1.3rem;
    line-height: 2.5rem;
 }

#join-ad{
    background-color: var(--primary-color-orange);
    height: 22vh;
    width: 100vw;
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/bg-simplify-section-desktop.svg);
    background-size: cover;
}

#join-ad p{
    font-size: 2vw;
    font-weight: 700;
    color: var(--primary-color-grey);
    width: 30%;
}

#join-ad button{
    background-color: var(--primary-color-grey);
    color: var(--primary-color-orange);
    box-shadow: none;
}

footer{
    background-color: var(--secondary-color-blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 28vh;
}

/* SNS styles, logos change on hover*/
#sns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#sns-links{
position: relative;
}

.fb-logo{
    position: absolute;
    left: 0; 
}

.yt-logo{
    position: absolute;
    left: 4vh; 
}

.tw-logo{
    position: absolute;
    left: 8vh; 
}

.pin-logo{
    position: absolute;
    left: 12vh; 
}

.ig-logo{
    position: absolute;
    left: 16vh; 
}

.fb-logo img, .yt-logo img, .tw-logo img,
.pin-logo img, .ig-logo img{
    position: absolute;
    margin: 0;
}

/* Opacity to 0 so it doesn't show when not hovered, then changed to 1 when
hovered to reveal itself */
.negative{
    position: absolute;
    opacity: 0;
}

.fb-logo:hover .negative, .yt-logo:hover .negative, 
.tw-logo:hover .negative, .pin-logo:hover .negative, 
.ig-logo:hover .negative{
   opacity: 1;
}

/* Opacity to 0, when hovered it leaves a weird shadow behind the negative logo
so I'm hiding it */
.fb-logo:hover .logo, .yt-logo:hover .logo, 
.tw-logo:hover .logo, .pin-logo:hover .logo, 
.ig-logo:hover .logo{
   opacity: 0;
}

/* Footer links' styles (anchors to the rest of the website)*/
#footer-links{
    width: 40vw;
}

#footer-links ul{
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
    margin-left: 10vh;
}

#footer-links li{
    list-style-type: none;
    color: var(--primary-color-grey);
    line-height: 3rem; 
    text-align: left;
}

/* Newsletter's style */
#newsletter{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

#newsletter p{
    color: var(--secondary-color-greyblue);
}

#newsletter button{
    box-shadow: none;
    width: 9vh;
    margin-left: 2vh;
}

#newsletter input{
    background-color: var(--primary-color-grey);
    border: none;
    width: 30vh;
    height: 5vh;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
}

#newsletter input::placeholder{
    padding-left: 2vh;
    font-weight: 500;
    color: var(--secondary-color-greyblue);
}



/* 24/6 - gotta finish the slides
-maybe try a slideshow? 
-also gotta finish main and start footer.
-change the tab icon?
-Investigate light-dark colormodes */


/* 25/6 - makeit responsive
-slides
-still needing the tab icon
-hover styles on buttons
 */



/* @media (max-width: 680px) {
   
} */


/* @media (prefers-color-scheme: dark) {

} */